/*width checker*/
/*
.width {
    position: fixed;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    width: 8em;
    border: solid 1px darkgray;
    line-height: 1.2;
    text-align: center;
    left: 1em;
    bottom: 1em;
    z-index: 2;
    background: black;
    color: white;
}
*/

:root {
    overflow-x: hidden;
    /*prevents horizontal scrolling*/
    font-family: "Montserrat", sans-serif, serif;
    /*font from google fonts*/
    background-color: ghostwhite;
    /*1em = 16px*/
    color: #1F2B5F;
}

/*flex containers*/
header,
header .mainNav,
.contentWrapper,
.aboutMe,
.project,
.connect,
.bottomNav,
.socialMedia{
    display: flex;
    flex-flow: row wrap;
}

header {
    background-color: rgba(122, 92, 156, 0.8);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 0.5em;
}

/*logo flex item*/
#logo img {
    width: 4em;
    flex: 0 1 15em;
    padding: 0.5em 0 0.5em 1.5em;
}

/*reminder to work on menu after re-learning jquery*/

main > .aboutMe {
    background: linear-gradient(150deg, #D98594, #D98594 ,#6396D8);
    padding: 2em;
    margin: 2em;
    border-radius: 1.4em;
    box-shadow: 0.25em 0.25em 0.25em 0 #7A5C9C;
}

.aboutMe > h1,
.aboutMe > p,
.aboutMe .aboutMePage {
    flex: 0 1 100%;
}

img {
    width: 100%;
}

.homePageTitle {
    font-size: 4em;
    /*1em = 64px*/
    font-weight: bold;
    padding-bottom: 0.2em; /*12.8px*/
}

#jobTitle {
    font-size: 1.1em;
    color: #7A5C9C;
    font-weight: bold;
}

.aboutMe > p {
    padding-bottom: 1em;
}

.aboutMePage,
.learnMore > a,
.connect a {
    color: #FECD71;
}

.subtitle {
    font-size: 2em;
    font-weight: bold;
    flex: 0 1 100%;
    text-align: center;
    padding: 1em;
}

.project {
    flex: 0 1 100%;
    padding: 2em 3em;
    margin: 0 2em 2em;
    border-radius: 1.4em;
    background: linear-gradient(150deg, #6396D8, #6396D8, #D98594);
    box-shadow: 0.25em 0.25em 0.25em 0 #7A5C9C;
}

.project:nth-of-type(odd) {
    box-shadow: -0.25em 0.25em 0.25em 0 #7A5C9C;
    background: linear-gradient(-150deg, #6396D8, #6396D8, #D98594);
}

.connect {
    background: linear-gradient(#D98594, #D98594 ,#6396D8);
    padding-bottom: 3em;
    margin-top: 2em;
    justify-content: center;
}

.connect img {
    border-radius: 100%;
    width: 50%;
    padding-bottom: 1em;
}

.connect h2,
.connect p {
    flex: 0 1 70%;
    padding: 1em 0;
}

footer {
    background: #6396D8;
}

.bottomNav a {
    text-decoration: none;
    flex: 0 1 100%;
    text-align: center;
    padding: 1em;
    border: outset #D98594 0.125em;
}

footer > p {
    padding: 2em 0;
    text-align: center;
}

footer img {
    width: 2em;
}

.socialMedia {
    justify-content: space-around;
    align-items: center;
    margin: 0 4em;
}

.socialMedia > a {
 padding-bottom: 2em;
}


